<section id="home" class="w-full h-screen">
  <div class="max-w-screen-xl mx-auto">
    <span class="text-xl font-bold text-center text-white block mt-10">
      Bem-vindo(a) ao Cabeleleila Leila! Aqui, você encontra um espaço dedicado
      à beleza, estilo e cuidado com você. Somos especializados em cortes,
      coloração, tratamentos capilares e muito mais, sempre com um toque de
      carinho e profissionalismo. Explore nossos serviços, agende seu horário e
      aproveite uma experiência única de transformação e bem-estar. Com
      atendimento personalizado, buscamos valorizar a beleza individual de cada
      cliente, para que você saia daqui ainda mais confiante e radiante. Faca
      seu cadastro e agende já seu horário e venha se reinventar com a
      gente!</span
    >
  </div>
</section>
