<app-appointment-table
  [appointments]="appointments"
  (onUpdate)="updateAppointmentAdmin($event)"
  (onDelete)="cancelAppointmentAdmin($event)"
></app-appointment-table>

<app-appointment-modal
  *ngIf="modalUpdateAppointmentIsOpen"
  [title]="'Alterar Item do Agendamento'"
  (onClose)="closeUpdateAppointmentModal()"
>
  <form (submit)="handleUpdateSubmit($event)">
    <div class="mb-4">
      <label for="date" class="block text-gray-700 font-bold mb-2">Data:</label>
      <input
        id="date"
        type="date"
        name="date"
        class="w-full border border-gray-300 rounded px-3 py-2"
        [min]="today"
        [(ngModel)]="appointmentUpdate_date"
        required
      />
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2"> Hora: </label>
      <ul id="timetable" class="grid w-full grid-cols-2 gap-2 mt-5">
        <li>
          <input
            type="radio"
            id="10-am"
            value="10:00"
            class="hidden peer"
            name="timetable"
            [(ngModel)]="appointmentUpdate_time"
          />
          <label
            for="10-am"
            class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center bg-white border rounded-lg cursor-pointer dark:hover:text-white dark:border-green-500 peer-checked:border-green-600 peer-checked:bg-green-500 hover:text-white peer-checked:text-white hover:bg-green-500 dark:text-green-500 dark:hover:bg-green-600 dark:hover:border-green-600 dark:peer-checked:bg-green-500"
          >
            10:00
          </label>
        </li>

        <li>
          <input
            type="radio"
            id="11-am"
            value="11:00"
            class="hidden peer"
            name="timetable"
            [(ngModel)]="appointmentUpdate_serviceId"
          />
          <label
            for="11-am"
            class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center bg-white border rounded-lg cursor-pointer dark:hover:text-white dark:border-green-500 peer-checked:border-green-600 peer-checked:bg-green-500 hover:text-white peer-checked:text-white hover:bg-green-500 dark:text-green-500 dark:hover:bg-green-600 dark:hover:border-green-600 dark:peer-checked:bg-green-500"
          >
            11:00
          </label>
        </li>

        <li>
          <input
            type="radio"
            id="12-am"
            value="12:00"
            class="hidden peer"
            name="timetable"
            checked
            [(ngModel)]="appointmentUpdate_serviceId"
          />
          <label
            for="12-am"
            class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center bg-white border rounded-lg cursor-pointer dark:hover:text-white dark:border-green-500 peer-checked:border-green-600 peer-checked:bg-green-500 hover:text-white peer-checked:text-white hover:bg-green-500 dark:text-green-500 dark:hover:bg-green-600 dark:hover:border-green-600 dark:peer-checked:bg-green-500"
          >
            12:00
          </label>
        </li>

        <li>
          <input
            type="radio"
            id="2-pm"
            value="14:00"
            class="hidden peer"
            name="timetable"
            [(ngModel)]="appointmentUpdate_serviceId"
          />
          <label
            for="2-pm"
            class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center bg-white border rounded-lg cursor-pointer dark:hover:text-white dark:border-green-500 peer-checked:border-green-600 peer-checked:bg-green-500 hover:text-white peer-checked:text-white hover:bg-green-500 dark:text-green-500 dark:hover:bg-green-600 dark:hover:border-green-600 dark:peer-checked:bg-green-500"
          >
            14:00
          </label>
        </li>

        <li>
          <input
            type="radio"
            id="3-pm"
            value="15:00"
            class="hidden peer"
            name="timetable"
            [(ngModel)]="appointmentUpdate_serviceId"
          />
          <label
            for="3-pm"
            class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center bg-white border rounded-lg cursor-pointer dark:hover:text-white dark:border-green-500 peer-checked:border-green-600 peer-checked:bg-green-500 hover:text-white peer-checked:text-white hover:bg-green-500 dark:text-green-500 dark:hover:bg-green-600 dark:hover:border-green-600 dark:peer-checked:bg-green-500"
          >
            15:00
          </label>
        </li>

        <li>
          <input
            type="radio"
            id="4-pm"
            value="16:00"
            class="hidden peer"
            name="timetable"
            [(ngModel)]="appointmentUpdate_serviceId"
          />
          <label
            for="4-pm"
            class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center bg-white border rounded-lg cursor-pointer dark:hover:text-white dark:border-green-500 peer-checked:border-green-600 peer-checked:bg-green-500 hover:text-white peer-checked:text-white hover:bg-green-500 dark:text-green-500 dark:hover:bg-green-600 dark:hover:border-green-600 dark:peer-checked:bg-green-500"
          >
            16:00
          </label>
        </li>
      </ul>
    </div>

    <div class="mb-4">
      <label for="services" class="block text-gray-700 font-bold mb-2"
        >Serviços:</label
      >
      <select
        id="services"
        name="services"
        class="w-full border border-gray-300 rounded px-3 py-2"
        [(ngModel)]="appointmentUpdate_serviceId"
      >
        <option *ngFor="let service of services" [value]="service.id">
          {{ service.name }} - R$ {{ service.price }}
        </option>
      </select>
    </div>

    <div class="mt-6 flex justify-end space-x-4">
      <button
        type="button"
        class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded"
        (click)="closeUpdateAppointmentModal()"
      >
        Cancelar
      </button>
      <button
        type="submit"
        class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded"
        (click)="handleUpdateSubmit($event)"
      >
        Agendar
      </button>
    </div>
  </form>
</app-appointment-modal>
