<div class="w-full">
  <div
    class="max-w-screen-xl mx-auto flex items-center justify-between py-4 px-2"
  >
    <a
      href="#"
      class="flex items-center justify-center mb-6 text-2xl text-white"
    >
      <img class="w-6 h-6 mr-2" src="assets/icons/scissors.svg" alt="logo" />
      Cabeleleila Leila
    </a>
    <nav class="flex items-center justify-center gap-4">
      <ng-container *ngIf="username; else login">
        <a href="/profile" class="flex items-center justify-center gap-4">
          <img src="assets/icons/user.svg" alt="" />
          <span class="text-[#7AE186]">{{ username }}</span>
        </a>
      </ng-container>

      <ng-container *ngIf="isAdmin">
        <a href="/painel" class="flex items-center justify-center gap-4">
          <img src="assets/icons/user.svg" alt="" />
          <span class="text-[#7AE186]">Painel Administrativo</span>
        </a>
      </ng-container>
      <button (click)="logout()" class="flex items-center justify-center gap-4">
        <img src="assets/icons/logout.svg" alt="" />
        <span class="text-[#7AE186]">Sair</span>
      </button>
      <ng-template #login>
        <a href="/login" class="flex items-center justify-center gap-4">
          <img src="assets/icons/user.svg" alt="" />
          <span class="text-[#7AE186]">Entrar</span>
        </a>
      </ng-template>
    </nav>
  </div>
</div>
